footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0px solid #e7e7e7;
  background-color: #f3f3f3;
}

#navbar{
  margin : 150px 0 0 ;
}
li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {

  background-color: black;
  color: white; 
}

li a.active {
  color: grey;
  background-color: maroon;
}

#maincontent {

   background-color:#f3f3f3;
  margin: 10px 15px 0px 15px;
  padding: 10px;
  border-radius: 10px;

}
.notice
{
  background-color: #4e1832;
  padding: 1px;
  color: white;
}
.frm{
  border: 3px solid #f1f1f1;
  margin: -320px 1000px 100px 50px;
  background-color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.5;
}



/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
.sbmtbtn {
  width: auto;
  padding: 10px 18px;
  background-color: maroon;
}
.lgn
{
  background-color: maroon;
  padding: 2px;
  margin: 0;
  color: white
}
/* The "Forgot password" text */

span.psweml {
  float: right;
  padding-top: 2px;
}
span.psw {
  float: right;
  padding-top: 0px;
}

#last
{
  background-color: black;
  text-align: center;
  height: 30px;
 

}
#blc
{
  text-align: center;
   height: 20px;
   
 }
.leftnotice{
  margin-left: 500px;
}
.leftnotice1{
  margin-left: 520px;
}



.login-box{
  position: relative;
  margin-top: 100px;
  max-width: 400px;
  float: none;
}

.login-left{
  background-color: white;
  padding: 30px;
}

